body,
html {
  height: 100%;
  margin: 0;
  font-family: 'Cormorant', serif;
  color: white;
}

hr {
  top: 0;
}

#about-overlay {
  position: absolute;
  display: none;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  cursor: pointer;
}

#translucent-bg {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  height: 100%;
  width: 100%;
}

#about-text {
  font-size: 1.1em;
  margin: 0 20vw 3vw 20vw;
  position: relative;
}

#about-text h1 {
  margin-bottom: 0.1em;
}

#yt-video {
  margin: 3em auto;
  display: block;
  width: 50vw;
  height: 30vw;
}

.example-img p {
  text-align: center;
  font-style: italic;
}

.example-img img {
  display: block;
  margin: auto;
}

.underline-title {
  text-decoration: underline;
}

#table-wrapper {
  overflow-x: auto;
}

#top-five-table {
  margin: 3em auto;
  text-align: center;
  border-collapse: collapse;
}

#top-five-table tr,
td,
th {
  font-size: 1.2em;
  padding: 1.8em;
  border: 1px solid white;
}

@keyframes panning {
  0% {
    background-position: 0 45%;
  }

  50% {
    background-position: 100% 30%;
  }

  100% {
    background-position: 0 45%;
  }
}

#bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background: black url("img/island-bg.jpg");
  background-size: 130%;
  background-repeat: no-repeat;
  animation: panning 30s infinite linear;
  z-index: -1;
}

#main-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

#album-text h1,
h2 {
  text-shadow: 2px 2px 3px black;
}

.header-link {
  color: white !important;
  text-decoration: none;
}

.header-link:hover {
  color: #fca66f !important;
}

#album-text > h1 {
  font-size: 3em;
}

#lyrics {
  height: 35vh;
  width: 50vw;
  font-size: 1.1em;
  margin: 0;
  padding-right: 1em;
}

#btn-container {
  text-align: center;
}

#cloud-container {
  margin-bottom: 2em;
}

#cloud {
  height: 40vw;
  width: 40vw;
  background-image: url("img/wordcloud.png");
  background-size: cover;
}

#about-btn {
  font-family: inherit;
  background-color: white;
  border: none;
  cursor: pointer;
  margin: 3em 0;
  padding: 0.9em;
  font-size: 1em;
  font-weight: 600;
  border-radius: 0.5em;
  text-decoration: none;

  /* allow style to work cross browser */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*
 * Override certain properties of imported SimpleBar CSS
 */
.simplebar-scrollbar::before {
  background: white;
  opacity: 1;
}

.simplebar-track .simplebar-scrollbar.visible::before {
  /* When hovered, remove all transitions from drag handle */
  opacity: inherit;
}

/* breakpoint for medium devices */
@media (max-width: 991.98px) {
  body,
  html {
    height: auto;
  }

  #bg {
    background-size: cover;
  }

  #main-container {
    flex-direction: column;
  }

  #lyrics {
    width: 70vw;
    height: 30vh;
    font-size: 1em;
  }

  #cloud {
    height: 75vw;
    width: 75vw;
  }

  #about-text {
    margin: 5vw;
  }

  #yt-video {
    width: 80vw;
    height: 50vw;
  }
}
